h2,li{
    color: #231f20;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    max-width: 500px;
    clear: both;
}

h1{
    color: #231f20;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 600;
    font-style:italic;
    size: 50px;
    clear: both;
}

p{
    color: #231f20;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style:italic;
    max-width: 500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c5a880;
  }
  
  ul a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul li a:hover {
    background-color: #faffe6;
  }

nav{
    display: block;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c5a880;
    background-color: #faffe6;
}
.column{
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.column img{
  margin-top: 8px;
  width: 75%;
  justify-content: center;
  align-items: center;
}
aside{
  padding-left: 15px;
  margin-left: 15px;
  font-style: italic;
  background-color:#c5a880;
  text-align: center;
  max-width: 300px;
}
body{
  background-image:url(pictures\tools_1.jpg );
  background-repeat:no-repeat;
  background-position: top;
  padding-left: 67px;
  padding-right: 67px;
  background-color: antiquewhite;
}