ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  border: 1px solid #c5a880;
  background-color: #c5a880;
    float: right;
}

ul li a {
  display: block;
  color: #3f3b27;
  padding: 14px 16px;
  text-decoration: none;

}

.index-home-page{
  background-image: url(pictures/actualshii.jpg);
  background-size: cover;
  height: 300px;
  background-position: 25% 75%;
}
.cobbler-page{
  background-image: url(pictures/cobbler-bg.jpg);
  background-size: cover;
  height: 300px;
  background-position: 25% 75%;
}
.bannana_page{
  background-image: url(pictures/bananabg.jpg);
  background-size: cover;
  height: 300px;
  background-position: 25% 75%;
}
.angel_food{
  background-image: url(pictures/angel_cake_bg.jpg);
  background-size: cover;
  height: 300px;
  background-position: 25% 75%;
}
body{
  background-color: #faffe6;
}
h1{
  clear: both;
  float:left;
  font-family: "Chivo", sans-serif;
  margin: 25px 50px;
}
h2{
  font-family: "Chivo", sans-serif;
   margin: 25px 50px;
}
p{
  font-family: "Poiret One", sans-serif;
  margin: 25px 50px;
  width: 300px;
  border: 1px solid black;
  padding-left: 150px;
}
ol{
  width: 150px;
  border: 1px solid black;
  font-family: "Poiret One", sans-serif;

}
img{
  width: 300px;
  margin: 25px 50px;
}