ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #cab496;
  }
  
  ul a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul li a:hover {
    background-color: #faffe6;
  }

nav{
    display: block;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.index-home-page{
  background-image: url(pictures/actualshii.jpg);
  background-size: cover;
  height: 300px;
  background-position: 25% 75%;
}
.cobbler-page{
  background-image: url(pictures/cobbler-bg.jpg);
  background-size: cover;
  height: 300px;
  background-position: 25% 75%;
}
body{
  background-color: #faffe6;
}
h1{
  clear: both;
  float:left;
  font-family:"chivo" , serif;
  margin: 25px 50px;
}
h2{
   font-family:"chivo" , serif;
   margin: 25px 50px;
}
p{
  font-family:"Poiret" , serif ;
  margin: 25px 50px;
  width: 150px;
  border: 1px solid black;
}
ol{
  width: 150px;
  border: 1px solid black;
}
img{
  width: 200px;
  margin: 25px 50px;
}